body {
    overflow: hidden;
}

.adminPanel {}

.adminPanel .main {
    display: flex;
}

.adminPanel .main .navBar {
    min-width: 300px;
    background: var(--fx-primary-color);
}

.adminPanel .main .content {
    flex: 1;
    max-height: 100vh;
    overflow: scroll;
}

.adminPanel .main .content .aa {
    min-height: 1500px;
}