body {
    overflow: hidden;
}

.adminPanel {}

.adminPanel .header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adminPanel .header {
    padding: 5px 10px;
    box-shadow: -1px 5px 8px 2px #94949473;
}

.adminPanel .header .header_logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.adminPanel .header .header_logo img {
    height: 50px;
}

.adminPanel .header .header_logo span {
    font-size: 22px;
    font-weight: 700;
    color: var(--fx-main-text-color);
}

.adminPanel .header .right_side {
    display: flex;
    align-items: center;
    gap: 5px;
}

.adminPanel .header .right_side .single {}

.adminPanel .header .right_side .single.profile {}

.adminPanel .header .right_side .single.profile img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid var(--fx-primary-color);
}

.adminPanel .main {
    display: flex;
}

.adminPanel .main .navBar {
    min-width: 300px;
    background: var(--fx-primary-color);
}

.adminPanel .main .content {
    flex: 1;
    max-height: 100vh;
    overflow: scroll;
    min-height: 100vh;
    padding: 20px;
}

.adminPanel .main .navBar .list {
    padding: 25px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.adminPanel .main .navBar .list .single {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #fff;
    font-size: 25px;
    padding: 8px;
}

.adminPanel .main .navBar .list .single.active {
    background: #fff;
    color: var(--fx-primary-color);
    border-radius: 50px 0 0 50px;
}

.adminPanel .main .navBar .list .single span {
    display: block;
    font-weight: 800;
    font-size: 15px;
}