.filter_page .filter_header{
    background-image: url("/assets/filter/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.filter_page .filter_header .seach_bar_holder {
    max-width: 600px;
    flex: 1;
}

.filter_page .filter_header .seach_bar_holder .search_bar{
    font-size: 30px;
}

 

.filter_page .content {
    padding: 25px 0;
}