
.forum_page{
    padding: 20px;
}

.forum_page .left_side{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.forum_page .left_side .single_section .title {
    color: var(--fx-primary-color);
    font-size: 18px;
    font-weight: 600;
}

.forum_page .left_side .single_section .list_contributers{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.forum_page .left_side .single_section .list_contributers .single {
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid #a2a2a28a;
    padding-bottom: 10px;
}
.forum_page .left_side .single_section .list_contributers .single:last-of-type{
    border-bottom: unset;
}
.forum_page .left_side .single_section .list_contributers .single .avatar img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.forum_page .left_side .single_section .list_contributers .single .username{
    color: var( --fx-main-text-color);
    font-size: 17px;
}

/* ************************************ */

.forum_page  .add_pub_section {
    display: flex;
    flex-direction: column;
  
}
.forum_page  .add_pub_section .top_entry{
    display: flex;
    background: #fff;
    border-radius:5px 5px 0  0 ;
    border: 1px solid #797b8936;
    padding: 10px;
    align-items: flex-start;
}
.forum_page  .add_pub_section .top_entry .entry{
    flex: 1;
}
.forum_page  .add_pub_section .top_entry .entry textarea{
    resize: none;
    border: unset;
}
.forum_page  .add_pub_section .top_entry .entry textarea:focus{

    box-shadow: unset;
}
.forum_page  .add_pub_section .avatar img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


.forum_page  .add_pub_section .btm_btns{
    background: #a9d4e526;
    border-radius: 0  0 5px 5px;
    border: 1px solid #797b8936;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    display: flex;

}
.forum_page  .add_pub_section .btm_btns .single{
    color: var(--fx-primary-color);
    font-size:20px;
}

.forum_page  .add_pub_section .btm_btns  button{
    font-size: 16px;
}