:root {
    --fx-primary-color: #00aeef;
    --fx-primary-color-background: rgba(0, 174, 239, 0.25);
    --fx-secondary-color: #34C38F;
    --fx-secondary-color-background: rgba(52, 195, 143, 0.25);
    --fx-third-color: #9016b2;
    --fx-third-color-background: rgba(144, 22, 178, 0.25);
    --fx-page-background: #f5f6f8;
    --fx-error-background: #f46a6a;
    --fx-error-background-background: rgba(244, 106, 106, 0.25);
    --fx-main-text-color: #757783;
    --fx-secondary-btn-bg: #f1f2f6;
}


body{
 display: block;
 
}

a{
    text-decoration: none;
    color: inherit;
}

h2.p_color{
    color: var(--fx-primary-color);
 
}


.btn_main{
    font-size: 20px;
    padding: 8px 15px;
    background: var(--fx-primary-color);
    border: unset;
    color: #fff;
    border-radius: 8px;
    font-size: 20px;
}
 
/* *************************Header ************************ */
.header {

}

.header .header_logo img{
    height: 70px;
}

.header .nav-link{

    color: var(--fx-main-text-color);
    font-size: 16px;
    font-weight: 700;
}


.header .nav-link.active  ,.header .auth_part .nav-link.active{
    color: var(--fx-primary-color) !important;
}
.header .auth_part{
    align-items: center;
}
 
.header .auth_part .separator{
    padding: 25px 0;
    border-right: 1px solid #cccccc;
}

.header .badge_my_cours{

    position: relative;
    margin: 0 20px;
}
.header .badge_my_cours  .icon_holder{
    font-size: 30px;
    color: var(--fx-main-text-color);

}

.header .badge_my_cours .my_cours_count{
    position: absolute;
    background: var(--fx-primary-color);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -10px;
    right: -10px;

}
/* *************************End Header ************************ */









/* ************************* Footer ************************ */

footer .footer_Holder {
 
   
    background: #1c1e27;
}


footer .footer_Holder{
    background-image: url("/assets/footer_bg.png");
    background-repeat: no-repeat;
        background-size: cover;
        padding: 80px 0;

     
}
footer .footer_Holder .logo_holder {
    display: flex;
    justify-content: center;
}

footer .footer_Holder .footer_logo {

    height: 120px;
}

footer .footer_Holder .footer_list_holder{
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
footer .footer_Holder .footer_list_holder .title {
    display: block;
    font-size: 22px;
 
}
footer .footer_Holder .footer_list_holder ul{
    list-style: none;
}
footer .footer_Holder .footer_list_holder ul li {
        list-style: unset;
        margin: 8px 0;

}

footer .footer_Holder .footer_social{
    display: flex;
    gap: 15px;
}

footer .footer_Holder .footer_social .item {
    height: 50px;
    width: 50px;
    background: var(--fx-primary-color);
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

footer .footer_Holder .footer_social .item:hover {
  
    background: #fff;
    color: var(--fx-primary-color);
 
}
/* *************************End Footer ************************ */