<div class="w_block single_section">

    <div class="title">Contributeurs</div>

    <div class="list_contributers" >
        <div  class="single" >

            <div class="avatar">
                <img src="/assets/cours/person.jpg" alt="">
            </div>
            <div class="username">kqsdjqkjsd</div>


        </div>

        <div  class="single" >

            <div class="avatar">
                <img src="/assets/cours/person.jpg" alt="">
            </div>
            <div class="username">kqsdjqkjsd</div>


        </div>

        <div  class="single" >

            <div class="avatar">
                <img src="/assets/cours/person.jpg" alt="">
            </div>
            <div class="username">kqsdjqkjsd</div>


        </div>
        <div  class="single" >

            <div class="avatar">
                <img src="/assets/cours/person.jpg" alt="">
            </div>
            <div class="username">kqsdjqkjsd</div>


        </div>

    </div>

</div>

<div class="w_block single_section">

    <div class="title">Contributeurs</div>

    <div class="list_contributers" >
        <div  class="single" >

            <div class="avatar">
                <img src="/assets/cours/person.jpg" alt="">
            </div>
            <div class="username">kqsdjqkjsd</div>


        </div>

        <div  class="single" >

            <div class="avatar">
                <img src="/assets/cours/person.jpg" alt="">
            </div>
            <div class="username">kqsdjqkjsd</div>


        </div>

        <div  class="single" >

            <div class="avatar">
                <img src="/assets/cours/person.jpg" alt="">
            </div>
            <div class="username">kqsdjqkjsd</div>


        </div>
        <div  class="single" >

            <div class="avatar">
                <img src="/assets/cours/person.jpg" alt="">
            </div>
            <div class="username">kqsdjqkjsd</div>


        </div>

    </div>

</div>