<div class="footer_Holder" >
    
    <div class="container" >
        <div class="row" >
            <div class="col-md-3" >
                <div class="logo_holder" ><img src="/assets/logo_circle.png" class="footer_logo" alt=""></div>

            </div>
            <div class="col-md-3" >
                <div class="footer_list_holder" >
                    <span class="title" >Categories</span>
                    <ul>
                        <li><a href="#">-----------------------------</a></li>
                        <li><a href="#">-----------------------------</a>
                        </li><li><a href="#">-----------------------------</a></li>
                        <li><a href="#">-----------------------------</a></li>
                        <li><a href="#">-----------------------------</a></li>
                    </ul>

                </div>

            </div>

            <div class="col-md-3">
                <div class="footer_list_holder">
                    <span class="title">Cours</span>
                    <ul>
                        <li><a href="#">-----------------------------</a></li>
                        <li><a href="#">-----------------------------</a>
                        </li>
                        <li><a href="#">-----------------------------</a></li>
                        <li><a href="#">-----------------------------</a></li>
                        <li><a href="#">-----------------------------</a></li>
                    </ul>
            
                </div>
            
            </div>

            <div class="col-md-3">
                <div class="footer_social">
                    <a class="item" href="#">     
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a class="item" href="#">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a class="item" href="#">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a> 
                     
            
                </div>
            
            </div>
 

        </div>

    </div>
</div>


<div class="modal fade" id="authModel"   tabindex="-1"  >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
 
      </div>
    </div>
</div>

<script>
  
    
        $(".modal-content").load('../components/auth/login.html')  
        /* $(".modal-content").load('../components/auth/register.html') */
        
/*         $(".modal-content").load('../components/auth/forget_pws.html') */

      
 
</script>