<div class="col-md-6">
    <div class="single">
        <div class="header_section">
            <div class="related_cours">

                <div class="txt">
                    Cours
                </div>
                <div class="title">
                    kdjqklsdlkqsdjqjsdlkjsqlkdjqsld
                </div>

            </div>
            <div class="option_btn">
                sxcvxcvxc
            </div>
        </div>

        <div class="question">
            qdhqskjdqs dkhqskjd qhsd?
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="single_rep">
                    qsQS
                </div>

            </div>
            <div class="col-md-6">
                <div class="single_rep">
                    qsQS
                </div>

            </div>
            <div class="col-md-6">
                <div class="single_rep">
                    qsQS
                </div>

            </div>
            <div class="col-md-6">
                <div class="single_rep">
                    qsQS
                </div>

            </div>
        </div>

    </div>
</div>