<div class="aventage_holder">
    <div class="aventage_bg">

    </div>

    <h2>Nos Aventages</h2>
    <div class="container" >
        <div class="row" >
            <div class="col-md-4">
                <div class="single">
                    <div class="top_head">
                        <div class="icon"><i class="fa-solid fa-hands-asl-interpreting"></i></div>
                        <div class="title">Acquérir des Compétences</div>
            
                    </div>
                    <p>
                        Chez VSA, explorez une multitude de cours
                        pour renforcer vos compétences. Que vous
                        soyez débutant ou expert, notre sélection de
                        cours vous offre une opportunité illimitée
                        d'apprentissage.
            
                    </p>
            
                </div>
            </div>

            <div class="col-md-4">
                <div class="single">
                    <div class="top_head">
                        <div class="icon"><i class="fa-solid fa-chalkboard-user"></i></div>
                        <div class="title">Enseignants Experts</div>
            
                    </div>
                    <p>
                    Rencontrez nos enseignants passionnés et
                    hautement qualifiés qui vous guideront tout
                    au long de votre parcours d'apprentissage.
                    Chez VSA, nous sommes fiers de fournir des
                    cours animés par des experts dévoués, prêts à
                    partager leur savoir avec vous.

            
                    </p>
            
                </div>
            </div>

            <div class="col-md-4">
                <div class="single">
                    <div class="top_head">
                        <div class="icon"><i class="fa-solid fa-certificate"></i></div>
                        <div class="title">Certificats</div>
            
                    </div>
                    <p>
                        Obtenez des certificats de fin de cours de VSA
                        et donnez de la valeur à vos compétences.
                        Nos certificats sont reconnus dans le monde
                        entier, offrant une validation formelle de votre
                        réussite et de vos compétences acquises
            
                    </p>
            
                </div>
            </div>

        </div>

    </div>
</div>