<div class="our_categories" >
 
        <h2 class="p_color">Nos Catégories</h2>

        <div class="container" >

            <div class="row" >
                <div class="col-md-3" >
                    <a class="item" href="#" >
                        <div class="img_holder" >
                            <img src="/assets/categories/1.png" alt="">

                        </div>
                        <span>Categories 1</span>


                    </a>

                </div>
                <div class="col-md-3">
                    <a class="item" href="#">
                        <div class="img_holder">
                            <img src="/assets/categories/2.png" alt="">
                
                        </div>
                        <span>Categories 2</span>
                
                
                    </a>
                
                </div>
                <div class="col-md-3">
                    <a class="item" href="#">
                        <div class="img_holder">
                            <img src="/assets/categories/3.png" alt="">
                
                        </div>
                        <span>Categories 3</span>
                
                
                    </a>
                
                </div>
                <div class="col-md-3">
                    <a class="item" href="#">
                        <div class="img_holder">
                            <img src="/assets/categories/4.png" alt="">
                
                        </div>
                        <span>Categories 4</span>
                
                
                    </a>
                
                </div>

            </div>

        </div>

        <div class="d-flex justify-content-center mt-10" >
            <button class="btn_main"> Voir tous les cours</button>
        </div>

  
    
</div>