<div class="container">

    <div class="row" >
        <div class="col-md-5" >
            <div class="text_holder">
                <h2>Pourquoi choisir VSA ?</h2>
                <p>
                    Profitez d'une expérience immersive avec des fonctionnalités
                    d'interaction en Langue des Signes intégrées dans nos cours,
                    favorisant une compréhension approfondie
                </p>
                <ul>
                    <li>Engagement Socia</li>
                    <li>Expertise pédagogique</li>
                    <li>Support Communautaire</li>
                    <li>Engagement envers l'inclusion</li>
                    <li>Diversité des cours</li>
                    <li>Adaptabilité Universelle</li>
                </ul>
            
                <button class="btn_main">Découvrir tous les cours</button>
            </div>
        </div>
        <div class="col-md-7">
            <div class="why_us_img"  >

                <img src="/assets//why_us.png" alt="">

            </div>
        
        </div>

    </div>

</div>