<nav class="nav ">

    <a class="navbar-brand header_logo" href="#">
        <img src="/assets/logo_circle.png" alt="">
        <span>Vsa Admin</span>
    </a>


    <div class="right_side">
        <a class="single">
            <div class="icon"><i class="fa-solid fa-diamond-turn-right"></i></div>
        </a>
        <div class="single">
            <div class="icon"><i class="fa-solid fa-bell"></i></div>
        </div>
        <div class="single profile">
            <a class="nav-link dropdown-toggle" href="#" ole="button" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="profile-pic">
                    <img src="/assets/cours/person.jpg" alt="Profile Picture">
                </div>

            </a>
            <ul class="dropdown-menu">

                <li><a class="dropdown-item" href="#"><i class="fas fa-cog fa-fw"></i> Parametre</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-fw"></i>Deconnexion</a></li>
            </ul>
        </div>
    </div>






</nav>