<div class="top_filter" >
    <div class=" sort_by">
        <label  class="form-label">Trier par</label>
    <select class="form-select"  >
        <option selected>Par nom</option>
        <option value="1">date d'ajoute</option>
        <option value="2">rating</option> 
    </select>
    </div>
    <div class="display_mode">
        <div class="single selected" >
            <i class="fa-solid fa-grip"></i>
        </div>
        <div class="single">
            <i class="fa-solid fa-list"></i>
        </div>

    </div>

</div>